__pycache__/
knock_knock.egg-info/
build/
dist/
knock_knock/example_data/results
knock_knock/example_data/targets/**
!knock_knock/example_data/targets/*.csv
.ipynb_checkpoints/
*.swp
*.pyc
*.so
*cython.c
